@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100;1,200;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.texto__principal {
  font-size: 100%;
  color: white;
}

.animate__arte {
  color: #fafafa;
  text-shadow: #535353 0 0 10px, #ffffff 5px 5px 5px;
  -webkit-filter: glow(color=#1a1818, strength=3);
          filter: glow(color=#1a1818, strength=3);
}

.botones__redes {
  color: gray;
}

.welcome {
  margin-top: 30%;
}

#subtitulosVideo {
  margin-top: 2%;
  margin-bottom: 5%;
  color: #fafafa;
  text-shadow: #535353 0 0 10px, #b31f24, 5px 5px 5px;
  -webkit-filter: glow(color=hotpink, strength=3);
          filter: glow(color=hotpink, strength=3);
}

.content__container__list__item {
  color: #b31f24;
  text-shadow: #fffc4d 0 0 10px, #b31f24, 5px 5px 5px;
  -webkit-filter: glow(color=hotpink, strength=3);
          filter: glow(color=hotpink, strength=3);
  line-height: 2;
}

.article {
  margin-bottom: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  line-height: 2;
}

.dos {
  opacity: 100%;
}

.fondotexto {
  margin-top: 10%;
  position: static;
  opacity: 100%;
  z-index: 0.9;
  background: -webkit-gradient(linear, left top, right top, from(#8b8b8b94), to(#4343434d));
  background: linear-gradient(to right, #8b8b8b94, #4343434d);
}

.contiene__about {
  position: absolute;
  left: 50%;
}

.animate__con {
  text-align: center;
  color: hotpink;
  text-shadow: #fffc4d 0 0 10px, #b31f24, 5px 5px 5px;
  -webkit-filter: glow(color=hotpink, strength=3);
          filter: glow(color=hotpink, strength=3);
  line-height: 2;
}

.content {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}

.content__container:before {
  content: '[';
  left: 0;
}

.content__container:after {
  content: ']';
  position: absolute;
  right: 0;
}

.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: #b61e23;
  font-size: 35px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}

.botones__footer__uno:hover {
  background: hotpink;
  border-color: white;
}

.botones__footer__dos:hover {
  background: #e755a5;
  border-color: white;
}

.botones__footer__tres:hover {
  background: #e24fa0;
  border-color: white;
}

.botones__footer__cuatro:hover {
  background: #9e316d;
  border-color: white;
}

.botones__footer__cinco:hover {
  background: #63143f;
  border-color: white;
}

.btn, btn-group, btn-group-vertical {
  font-size: 110%;
  font-family: 'Lato', sans-serif;
  line-height: 40px;
}

.envios__foot {
  width: 100px;
  border-radius: 30%;
  width: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

.fa-gift {
  width: 50%;
  color: #fffef7;
  opacity: 0.5;
  font-size: 100%;
}

.envios__foot {
  text-decoration: none;
  background-color: transparent;
  font-size: 100%;
}

.small {
  font-size: 90%;
  color: white;
}

.price {
  font-size: 150%;
}

.card-title {
  font-size: 150%;
}

.card-text {
  font-size: 100%;
}

.marquee span {
  display: inline-block;
  white-space: nowrap;
  color: hotpink;
  width: var(--tw);
  text-shadow: var(--tw) 0 currentColor, calc(var(--tw) * 2) 0 currentColor, calc(var(--tw) * 3) 0 currentColor, calc(var(--tw) * 4) 0 currentColor;
  will-change: transform;
  -webkit-animation: marquee 30s linear infinite;
          animation: marquee 30s linear infinite;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee span {
    -webkit-animation: none;
            animation: none;
    text-shadow: none;
    width: auto;
    display: block;
    line-height: 1.5;
    text-align: center;
    white-space: normal;
  }
}

@media (max-width: 799px) {
  .marquee--long {
    font-size: 1rem;
    padding-left: 1rem;
  }
  .marquee span {
    -webkit-animation: marquee 15s linear infinite;
            animation: marquee 15s linear infinite;
  }
}

@media (max-width: 799px) {
  .marquee-desktop {
    display: none;
  }
  .marquee-mobile {
    display: inline-block;
  }
  .marquee__cont2 {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 3rem;
    overflow: hidden;
  }
  .marquee-parent {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 2rem;
  }
  .marquee-child {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-animation: marquee2 15s linear infinite;
            animation: marquee2 15s linear infinite;
    white-space: nowrap;
  }
  .marquee-child span {
    margin: 0;
    padding: 0;
    text-shadow: var(--tw) 0 currentColor, calc(var(--tw) * 2) 0 currentColor, calc(var(--tw) * 3) 0 currentColor, calc(var(--tw) * 4) 0 currentColor;
    will-change: transform;
  }
  @-webkit-keyframes marquee2 {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  @keyframes marquee2 {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
}

.texto__welcome {
  position: fixed;
  position: static;
}

.item_price,
.simpleCart_empty {
  text-decoration: none !important;
  padding: 2px 5px 2px 5px;
  background: #FD8989;
  color: white;
  border: 1px solid #FC7070;
}

.product-total {
  display: block;
  background: white;
  padding: 5px;
  border: 1px solid whiteSmoke;
  -webkit-box-shadow: 0 1px 2px #BEBEBE;
          box-shadow: 0 1px 2px #BEBEBE;
  margin-top: 5px;
  margin-bottom: 10px;
}

.product-Info {
  display: block;
  background: white;
  width: 110px;
  padding: 5px 0 5px 15px;
  border: 1px solid #E9E9E9;
  -webkit-box-shadow: 0 1px 2px #B4B4B4;
          box-shadow: 0 1px 2px #B4B4B4;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #919191;
  clear: both;
}

/* Table */
.headerRow th {
  width: 100%;
  background: #5AA6E2;
  color: white;
}

.itemRow td {
  background: #F3F3F3;
  width: 100%;
  padding: 10px;
}

.item-increment a {
  background: #87CAFF;
  padding: 0 3px 0 3px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #72B9F1;
}

.item-decrement a {
  background: #FD9999;
  padding: 0 5px 0 5px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #F17272;
}

.item-remove a {
  background: white;
  padding: 5px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #D5D5D5;
}

.welcome {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: welcome;
}

.body__index {
  background-image: url(../imagenes/secciones/plasticobonito.jpg);
  background-size: repeat;
  opacity: 100%;
}

.sobreNosotros {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: nosotros;
  margin-top: 90%;
  text-align: justify;
  font-size: 140%;
}

.footerFinal {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.welcome {
  background-color: transparent;
  color: black;
  font-style: italic;
  font-size: 300%;
  text-align: center;
  margin: 1px;
  padding: 1px;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-responsive iframe object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome {
  background-color: transparent;
  color: black;
  font-style: italic;
  font-weight: normal;
  font-size: 300%;
  text-align: center;
  margin: 2%;
  padding: 2%;
}

.contenidoPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.contenidoPrincipal div p {
  margin: 10px;
  font-size: 100%;
}

.contenidoMultimediaHome {
  color: black;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin: 10px;
  padding: 2px;
}

.videoHome {
  margin: 4px;
  padding: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenidoPrincipal {
  margin-top: 10%;
  font-size: 250%;
  font-weight: bolder;
  text-align: center;
}

video {
  width: 100% !important;
  height: auto !important;
}

html {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: #ECE9E6;
  background: -webkit-gradient(linear, right top, left top, from(#FFFFFF), to(#ECE9E6));
  background: linear-gradient(to left, #FFFFFF, #ECE9E6);
}

.headerInicial {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.logo__boca:hover {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.header__index {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 100%;
  font-size: 250%;
  font-weight: normal;
  height: 110vh;
  text-align: center;
}

.header__artgallery {
  background-image: url(../imagenes/secciones/artgallery.webp);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
  font-size: 300%;
  font-weight: normal;
  height: 120vh;
  text-align: center;
}

.header__cart {
  background-image: url(../imagenes/secciones/cart.webp);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
  font-size: 300%;
  font-weight: normal;
  height: 120vh;
  text-align: center;
}

.header__closet {
  background-image: url(../imagenes/secciones/closet.webp);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
  font-size: 300%;
  font-weight: normal;
  height: 120vh;
  text-align: center;
}

.header__contact {
  background-image: url(../imagenes/secciones/contact.webp);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
  font-size: 300%;
  font-weight: normal;
  height: 120vh;
  text-align: center;
}

.header__oursizes {
  background-image: url(../imagenes/secciones/oursizes.webp);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
  font-size: 300%;
  font-weight: normal;
  height: 150vh;
  text-align: center;
}

.wrapper {
      grid-template-areas: "header  header  header" "welcome welcome nosotros" "welcome welcome nosotros" "footer  footer  footer";
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 100%;
  max-width: 100%;
  padding: 5%;
  margin: 5%;
  line-height: 1.2;
}

.btn-group-vertical {
  background-color: #b31f24;
  color: black;
}

.btn-secondary {
  color: black;
  background-color: #b31f24;
  border-radius: 25px;
  outline: 0;
}

.btn-primary {
  color: black;
  background-color: #b31f24;
  border-radius: 25px;
  outline: 0;
}

.btsuno {
  background-color: #919191bf;
}

.btsdos {
  color: black;
  background-color: #e9e9e9b3;
}

.btstres {
  color: black;
  background-color: #393939c4;
}

.btsdos:hover {
  background: #df3b95;
  border-color: white;
}

.btsuno:hover {
  background: #fcbee0;
  border-color: white;
}

.btstres:hover {
  background: rgba(255, 8, 144, 0.842);
  border-color: white;
}

.bienvenidos__footer {
  text-align: center;
}

.btn:focus,
a,
btn-group-vertical,
select:focus,
textarea,
select,
.btn-primary,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-color: hotpink;
  outline: 0 none;
}

.sobre__nosotros {
  font-size: 100%;
}

.logoBoca {
  width: 15rem;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110vh;
}

small {
  color: white;
  text-align: center;
}

.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
}

.tablaDeTalles {
  text-align: center;
  text-transform: uppercase;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
  font-size: 200%;
}

.formularioContacto {
  font-size: 375%;
  font-weight: bold;
  text-align: left;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
  text-anchor: middle;
  letter-spacing: 3px;
}

#submit {
  text-align: center;
}

.carroDeCompras ul li {
  font-size: 900%;
}

.tabla__dos {
  position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-whidt: 970px) {
  .sobre__nosotros {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
    margin-top: 200%;
    margin-right: 30%;
    margin-left: 60%;
    font-size: 100%;
  }
  .videoHome {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: welcome;
    margin: 1px;
    padding: 1px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footerFinal {
    height: auto;
    width: auto;
  }
}

.bienvenidosFooter {
  font-size: 20px;
  margin: 20px;
}

@media (max-width: 770px) {
  .wrapper {
        grid-template-areas: "header  header" "welcome welcome" "welcome welcome" "footer  footer";
  }
  .logotipo__boca {
    margin-bottom: 5%;
  }
  .videoHome {
    margin: 0;
    padding: 0;
  }
  .texto__principal {
    text-align: justify;
    font-size: 1.5rem;
    margin: 2%;
  }
  .animate__arte {
    text-align: center;
    font-size: 2rem;
    -webkit-text-decoration: solid;
            text-decoration: solid;
  }
  .sobre__nosotros {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 30%;
    width: auto;
    font-size: 10%;
    position: center;
  }
  .redes {
    font-size: 300%;
  }
  .content__container__list__item {
    font-size: 70%;
    font-weight: 300;
  }
}

@media (max-width: 700px) {
  .content__container__list__item {
    font-size: 30%;
    font-weight: 100;
  }
}

.tabla__talles--medidas 1 {
  background-color: black;
}

.tabla__talles--medidas 2 {
  background-color: black;
}

.tabla__talles--medidas 3 {
  background-color: black;
}

.whatsapp-icon {
  background-color: gray;
}

.instagram-icon {
  background-color: gray;
}

.twitter-icon {
  background-color: gray;
}

.gmail-icon {
  background-color: gray;
}

.tabla__talles--letras {
  list-style: none;
  color: gray;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid rgba(255, 0, 0, 0.829);
}

.tabla__talles--medidas td {
  list-style: none;
  color: gray;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid rgba(255, 0, 0, 0.829);
}

.tablilla {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: overline;
  font-size: 160%;
  color: hotpink;
}

.tablla__talles {
  border: solid solid;
  background-color: rgba(128, 128, 128, 0.699);
  color: hotpink;
  background-color: #0000008a;
}

.tabla__dos {
  background-color: #0000008a;
}

th {
  font-size: 50%;
}

.remerasHdos {
  text-align: center;
}

#stockCloset {
  text-align: center;
  font-size: 550%;
}

.centrado {
  position: absolute;
  top: 450%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ec0437;
  font-variant: small-caps;
  font-weight: lighter;
  font-size: 330%;
}

.centradoDos {
  position: absolute;
  top: 650%;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ec0437;
  font-variant: small-caps;
  font-weight: lighter;
  font-size: 330%;
}

.centradoTres {
  position: absolute;
  top: 850%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ec0437;
  font-variant: small-caps;
  font-weight: lighter;
  font-size: 330%;
}

.stockCloset {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

#info-table {
  text-align: center;
}

#info-input {
  width: 1200px;
  margin: 0px auto;
}

#info-input > div {
  width: 1200px;
  margin: 20px 0px;
}

.shopCount {
  color: orange;
}

a {
  text-decoration: none;
  color: deepskyblue;
}

#resultTotalMoney,
#integralTotal {
  color: orange;
}

.total-div {
  text-align: right;
}

.btdelete {
  float: left;
}

.btorinter-div {
  height: auto;
  overflow: auto;
}

.viewIntegral {
  float: right;
}

.btbuy {
  background-color: orange;
  color: white;
  border: 0px;
  float: right;
}

#shop {
  width: 800px;
  margin: 0px auto;
  height: auto;
  overflow: auto;
}

#shop li {
  text-align: center;
  list-style: none;
  float: left;
  height: auto;
  overflow: auto;
  margin: 20px;
}

#shop a {
  display: block;
  height: auto;
  overflow: auto;
}

.price {
  color: red;
}

.carrito {
  text-decoration: none;
  list-style: none;
  background-color: linear-gradient(135deg, #ffffff98 0%, #f76f6f 175%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  color: black;
  width: 100%;
  height: 100%;
}

.padreCarrito {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 120%;
}

.closetVentas {
  margin: 0;
  padding: 0;
}

#staplesbmincart ul {
  clear: both;
  float: left;
  width: 100%;
  margin: 5px 0 20px;
  padding: 1em;
  list-style-type: none;
}

#staplesbmincart .sbmincart-empty ul {
  display: none;
}

#staplesbmincart .sbmincart-closer {
  float: right;
  margin: -3px -10px 0;
  padding: 0 10px;
  background: 0;
  border: 0;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

#staplesbmincart .sbmincart-item {
  clear: left;
  padding: 7px 0;
  min-height: 35px;
  font-size: 1em;
}

#staplesbmincart .sbmincart-item + .sbmincart-item {
  border-top: 1px solid #f2f2f2;
}

#staplesbmincart .sbmincart-item a {
  color: #333;
  text-decoration: none;
}

#staplesbmincart .sbmincart-details-name {
  float: left;
}

#staplesbmincart .sbmincart-details-quantity {
  float: left;
}

#staplesbmincart .sbmincart-details-remove {
  float: left;
}

#staplesbmincart .sbmincart-details-price {
  float: left;
  text-align: right;
}

#staplesbmincart .sbmincart-quantity {
  height: 18px;
  padding: 2px 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-size: 13px;
  text-align: right;
  -webkit-transition: border linear 0.2s, -webkit-box-shadow linear 0.2s;
  transition: border linear 0.2s, -webkit-box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s, -webkit-box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
}

#staplesbmincart .sbmincart-quantity:hover {
  border-color: #0078C1;
}

#staplesbmincart .sbmincart-quantity:focus {
  border-color: #0078C1;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(0, 120, 193, 0.4);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(0, 120, 193, 0.4);
}

#staplesbmincart .sbmincart-remove {
  width: 18px;
  height: 19px;
  margin: 2px 0 0;
  padding: 0;
  background: #b7b7b7;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  opacity: 0.70;
  cursor: pointer;
}

#staplesbmincart .sbmincart-remove:hover {
  opacity: 1;
}

#staplesbmincart .sbmincart-footer {
  clear: left;
  text-align: right;
  margin-right: 1.5em;
  position: relative;
  padding: 0 0 0 50px;
}

p.sbmincart-empty-text {
  color: #f44336;
  font-weight: 500;
}

#staplesbmincart .sbmincart-subtotal {
  bottom: 3px;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.zoom {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.zoom:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.navegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  list-style: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 90%;
  color: #cf324b;
}

.navegacion li > a:hover {
  color: #cf324b;
  background-color: transparent;
  float: right;
  text-align: center;
}

.navegacion li a {
  position: fixed;
  justify-items: right;
  color: #cf324b;
  -webkit-transition: 7s;
  transition: 7s;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.navegacion li img {
  position: fixed;
  margin: 20px;
  width: 100%;
  height: 8px;
  -webkit-transition: 7s;
  transition: 7s;
  text-align: center;
}

.navbar {
  position: fixed;
  opacity: 90%;
  text-align: center;
  -webkit-transition: 7s;
  transition: 7s;
  list-style: none;
  text-decoration: none;
}

.navbar li > a:hover {
  color: black;
  background-color: transparent;
  float: center;
  text-align: center;
}

.back404 {
  background-color: white;
}

.header_error {
  background-image: none;
}

.footer_error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: auto;
}

.se_rompio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 25%;
  max-height: 25%;
}

.boton_redireccion {
  text-decoration: none;
  padding: 20px;
  font-weight: 50%;
  font-size: 40px;
  color: #ffffff;
  background-color: #080808;
  border-radius: 20%;
  border: 2px solid #ffffff;
  height: 50%;
  margin-top: 40%;
}

.primer_linea {
  text-decoration: none;
  padding: 20px;
  font-weight: 50%;
  font-size: 40px;
  margin-top: 30%;
}

.principal_error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
}

.player__titulo {
  font-size: 40%;
}

.player__titulo div {
  width: 100%;
  text-align: center;
}

.contact__interactivo {
  background-color: transparent;
  color: black;
  -webkit-text-emphasis-color: black;
          text-emphasis-color: black;
}

.player__interactuando {
  background-color: transparent;
  background-image: linear-gradient(135deg, #ffffff98 0%, #f76f6f 175%);
}

.player__interactuandoready {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: auto;
}

.player__interactuando {
  font-size: 160%;
}

.titulo__contacto {
  font-size: 200%;
  color: #d60909;
  text-align: center;
}

.formulario__contacto {
  font-size: 170%;
}

@media (max-width: 700px) {
  .ready {
    display: -ms-grid;
    display: grid;
  }
  .contact__interactivo {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */