@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.texto__principal {
    font-size: 100%;
    color: white;
}

.animate__arte {
    color: rgb(250, 250, 250);
    text-shadow: #535353 0 0 10px, #ffffff 5px 5px 5px;
    filter: glow(color=#1a1818, strength=3);
}

.botones__redes {
    color: gray;
}

.welcome {
    margin-top: 30%;
}

#subtitulosVideo {
    margin-top: 2%;
    margin-bottom: 5%;
    color: rgb(250, 250, 250);
    text-shadow: #535353 0 0 10px, #b31f24, 5px 5px 5px;
    filter: glow(color=hotpink, strength=3);
}

.content__container__list__item {
    color: #b31f24;
    text-shadow: #fffc4d 0 0 10px, #b31f24, 5px 5px 5px;
    filter: glow(color=hotpink, strength=3);
    line-height: 2;
   

}

.article {

    margin-bottom: 5vh;
    align-items: center;
    background-size: cover;
    background-position: center;
    line-height: 2;

}

.dos {
opacity: 100%;
}
.fondotexto{
    margin-top: 10%;
    position:static;
    opacity: 100%;
    z-index : 0.9 ; 

    background: linear-gradient(to right, #8b8b8b94, #4343434d);
} 
.contiene__about {
    position: absolute;
    left: 50%;
}
.animate__con {
  text-align: center;
  color: hotpink;
  text-shadow: #fffc4d 0 0 10px, #b31f24, 5px 5px 5px;
  filter: glow(color=hotpink, strength=3);
  line-height: 2;
}
.content {
    position: absolute;
 
    transform: translate(-50%, -50%);
    overflow:hidden;
    
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #ecf0f1;
    
    &__container {
      font-weight: 600;
      overflow: hidden;
      height: 40px;
      padding: 0 40px;
  
      &:before {
        content: '[';
        left: 0;
      }
  
      &:after {
        content: ']';
        position: absolute;
        right: 0;
      }
  
      &:after, &:before {
        position: absolute;
        top: 0;
        
        color: #b61e23;
        font-size: 35px;
        line-height: 40px;
        
        -webkit-animation-name: opacity;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        animation-name: opacity;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
  
      &__text {
        display: inline;
        float: left;
        margin: 0;
      }
  
      &__list {
        margin-top: 0;
        padding-left: 110px;
        text-align: left;
        list-style: none;
        
        -webkit-animation-name: change;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        animation-name: change;
        animation-duration: 10s;
        animation-iteration-count: infinite;
  
        &__item {
          line-height:40px;
          margin:0;
        }
      }
    }
  }
  
  @-webkit-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-webkit-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  
  @-o-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-o-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  
  @-moz-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-moz-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  
  @keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  .botones__footer__uno:hover{
      background: hotpink;
      border-color: rgb(255, 255, 255);
    }
 .botones__footer__dos:hover {
  background: rgb(231, 85, 165);
  border-color: rgb(255, 255, 255);

 }
 .botones__footer__tres:hover {
  background: rgb(226, 79, 160);
  border-color: rgb(255, 255, 255);

 } .botones__footer__cuatro:hover {
  background: rgb(158, 49, 109);
  border-color: rgb(255, 255, 255);

 } .botones__footer__cinco:hover {
  background: rgb(99, 20, 63);
  border-color: rgb(255, 255, 255);

 }
 .btn, btn-group ,btn-group-vertical {
   font-size: 110%;
     font-family: 'Lato', sans-serif;
     line-height:40px;


 }
 .envios__foot {
  width: 100px;
      border-radius:30%;
      width: 50%;
      transition:.4s;
    }
.fa-gift {
  width: 50%;
  color: #fffef7;
  opacity: 0.5;
  font-size: 100%;

}
.envios__foot{
text-decoration: none;
background-color: transparent;
font-size: 100%;
}
.small {
  font-size: 90% ;
 color: white;
}
.price {
  font-size: 150%;
}
.card-title {
  font-size: 150%;
}
.card-text {
  font-size: 100%;
}
.marquee span {   
  display: inline-block;
  white-space: nowrap;
  color: hotpink;
  width: var(--tw);
  text-shadow: var(--tw) 0 currentColor, 
               calc(var(--tw) * 2) 0 currentColor, 
               calc(var(--tw) * 3) 0 currentColor,
               calc(var(--tw) * 4) 0 currentColor;
 
  will-change: transform;
  animation: marquee 30s linear infinite;
}
@keyframes marquee {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

@media (prefers-reduced-motion: reduce) {
.marquee span {
  animation: none;
  text-shadow: none;
  width: auto;
  display: block;
  line-height: 1.5;
  text-align: center;
  white-space: normal;
}
}

@media (max-width: 799px) {
 .marquee--long { 
   font-size: 1rem;
   padding-left: 1rem; 
 }

 .marquee span {
   animation: marquee 15s linear infinite;
 }
}

@media (max-width: 799px) {
 .marquee-desktop {
   display: none;
 }

 .marquee-mobile {
   display: inline-block;
 }

 .marquee__cont2{
   position: absolute;
   width: 100%;
   left: 0;
   margin-top: 3rem;
   overflow: hidden;
}

.marquee-parent {
   position: relative;
   width: 100%;
   overflow: hidden;
   height: 2rem;
 }
 .marquee-child {
   transform: translateX(-100%);
   display: block;
   width: max-content;
   height: fit-content;
   animation: marquee2 15s linear infinite;
   white-space: nowrap;
 }

 .marquee-child span {
     margin: 0;
     padding: 0;
     text-shadow: var(--tw) 0 currentColor, 
               calc(var(--tw) * 2) 0 currentColor, 
               calc(var(--tw) * 3) 0 currentColor,
               calc(var(--tw) * 4) 0 currentColor;
 
  will-change: transform;
 }

 @keyframes marquee2 {
   0% { transform: translateX(-100%); }
   100% { transform: translateX(100%); }
 }
}
.texto__welcome {
position: fixed;
position: static;
}

.item_price,
.simpleCart_empty {
  text-decoration: none !important;
  padding: 2px 5px 2px 5px;
  background: #FD8989;
  color: white;
  border: 1px solid #FC7070;
}
.product-total {
  display: block;
  background: white;
  padding: 5px;
  border: 1px solid whiteSmoke;
  box-shadow: 0 1px 2px #BEBEBE;
  margin-top: 5px;
  margin-bottom: 10px;
}
.product-Info {
  display: block;
  background: white;
  width:110px;
  padding: 5px 0 5px 15px;
  border: 1px solid #E9E9E9;
  box-shadow: 0 1px 2px #B4B4B4;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #919191;
  clear:both;
}
/* Table */
.headerRow th {
  width: 100%;
  background: #5AA6E2;
  color: white;
}
.itemRow td {
  background:#F3F3F3;
  width: 100%;
  padding: 10px;
}

.item-increment a {
  background: #87CAFF;
  padding: 0 3px 0 3px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #72B9F1;
}
.item-decrement a {
  background: #FD9999;
  padding: 0 5px 0 5px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #F17272;
}
.item-remove a{
  background: white;
  padding: 5px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #D5D5D5;
}


