html {
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: #ECE9E6;
    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);
    background: linear-gradient(to left, #FFFFFF, #ECE9E6);
}

.headerInicial {
    grid-area: header;
}

.logo__boca {
 
    &:hover {
        transition: 1.5s;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.header__index {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 100%;
    font-size: 250%;
    font-weight: normal;
    height: 110vh;
    text-align: center;
}

.header__artgallery {
    background-image: url(../imagenes/secciones/artgallery.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    font-size: 300%;
    font-weight: normal;
    height: 120vh;
    text-align: center;

}

.header__cart {
    background-image: url(../imagenes/secciones/cart.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    font-size: 300%;
    font-weight: normal;
    height: 120vh;
    text-align: center;

}

.header__closet {
    background-image: url(../imagenes/secciones/closet.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    font-size: 300%;
    font-weight: normal;
    height: 120vh;
    text-align: center;

}

.header__contact {
    background-image: url(../imagenes/secciones/contact.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    font-size: 300%;
    font-weight: normal;
    height: 120vh;
    text-align: center;

}

.header__oursizes {
    background-image: url(../imagenes/secciones/oursizes.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    font-size: 300%;
    font-weight: normal;
    height: 150vh;
    text-align: center;

}

.wrapper {
    grid-template-areas:
        "header  header  header"
        "welcome welcome nosotros"
        "welcome welcome nosotros"
        "footer  footer  footer"
}



.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}



footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 100%;
    max-width: 100%;
    padding: 5%;
    margin: 5%;
    line-height: 1.2;


}

.btn-group-vertical {
    background-color: #b31f24;
    color: black;

}
.btn-secondary {
    color: black;
    background-color: #b31f24;
    border-radius: 25px;
    outline: 0;
}
.btn-primary {
    color: black;
    background-color: #b31f24;
    border-radius: 25px;
    outline: 0;
}
.btsuno {
    background-color: #919191bf;  

}
.btsdos {
    color: black;
    background-color: #e9e9e9b3;  
}.btstres {
    color: black;
    background-color: #393939c4;  
}
.btsdos:hover {
    background: rgb(223, 59, 149);
    border-color: rgb(255, 255, 255);
}
.btsuno:hover {
    background: rgb(252, 190, 224);
    border-color: rgb(255, 255, 255);
}
.btstres:hover {
    background: rgba(255, 8, 144, 0.842);
    border-color: rgb(255, 255, 255);
}
.bienvenidos__footer {
    text-align: center;
}

.btn:focus,
a,
btn-group-vertical,
select:focus,
textarea,
select,
.btn-primary,
input.form-control:focus {

    outline: none !important;

    outline-width: 0 !important;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

    border-color: hotpink;


    outline: 0 none;
}

.sobre__nosotros {
    font-size: 100%;

}

.logoBoca {
    width: 15rem;
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 110vh;
}

small {
    color:white;
text-align: center;
}

.texto-encima {
    position: absolute;
    top: 10px;
    left: 10px;
}

.tablaDeTalles {
    text-align: center;
    text-transform: uppercase;
    text-decoration-color: black;
    font-size: 200%;
}

.formularioContacto {
    font-size: 375%;
    font-weight: bold;
    text-align: left;
    text-decoration-style: wavy;
    text-anchor: middle;
    letter-spacing: 3px;
}

#submit {
    text-align: center;
}

.carroDeCompras ul li {
    font-size: 900%;
}
.tabla__dos {
    position: center;
    align-items: center;
}