
html {
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: #ECE9E6;
    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);
    background: linear-gradient(to left, #FFFFFF, #ECE9E6);
}

.headerInicial {
    grid-area: header;
}

.header__index {
    background-image: url(../imagenes/secciones/logoplastic.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    font-size: 300%;
    font-weight: normal;
    height: 120vh;
    text-align: center;

}
.header__artgallery {
    background-image: url(../imagenes/secciones/artgallery.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    font-size: 300%;
    font-weight: normal;
    height: 120vh;
    text-align: center;

}
.header__cart {
    background-image: url(../imagenes/secciones/cart.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    font-size: 300%;
    font-weight: normal;
    height: 120vh;
    text-align: center;

}
.header__closet {
    background-image: url(../imagenes/secciones/closet.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    font-size: 300%;
    font-weight: normal;
    height: 120vh;
    text-align: center;

}
.header__contact {
    background-image: url(../imagenes/secciones/contact.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    font-size: 300%;
    font-weight: normal;
    height: 120vh;
    text-align: center;

}
.header__oursizes {
    background-image: url(../imagenes/secciones/oursizes.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    font-size: 300%;
    font-weight: normal;
    height: 150vh;
    text-align: center;

}
.wrapper {
   grid-template-areas:
   "header  header  header"
    "welcome welcome nosotros"
    "welcome welcome nosotros"
    "footer  footer  footer"
}



.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.mapaRedes {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    font-size: 40%;
    color: gray;
    background-color: white;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    font-size: 220%;
    border: black 2px solid;
    width: 100%;
    max-width: 100%;
    padding: 10%;
    margin: auto;
    height:90%;
}
.bienvenidos__footer {
    text-align: center;
}

.sobre__nosotros { 
    font-size: 100%;
}
.logoBoca {
    border: black 1px solid;
    width: 15rem;
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

small {
    font-size: 90%;

}

.texto-encima {
    position: absolute;
    top: 10px;
    left: 10px;
}

.tablaDeTalles {
    text-align: center;
    text-transform: uppercase;
    text-decoration-color: black;
    font-size: 200%;
}

.formularioContacto {
    font-size: 375%;
    font-weight: bold;
    text-align: left;
    text-decoration-style: wavy;
    text-anchor: middle;
    letter-spacing: 3px;
}

#submit {
    text-align: center;
}

.carroDeCompras ul li {
    font-size: 900%;
}