@media screen and (max-whidt:970px) {

    .sobre__nosotros {
        grid-area: footer;
        margin-top: 200%;
        margin-right: 30%;
        margin-left: 60%;
        font-size: 100%;
    }

    .videoHome {
        grid-area: welcome;
        margin: 1px;
        padding: 1px;
        justify-content: space-around;
    }

    .footerFinal {
        height: auto;
        width: auto;
    }
}
.bienvenidosFooter {
    font-size: 20px;
    margin: 20px;
}
@media screen and (max-whidt: 770px) {
    .wrapper {
        display:flex;
   
    }

    .videoHome {
        margin: 0;
        padding: 0;
    }
    .texto__principal{
        text-align: center;
    }
    .sobre__nosotros {
            margin: 5%;
        font-size: 30%;
        width: auto;
        font-size: 10%;
        position: center;
   
    }
}