.tabla__talles--letras {
    list-style: none;
    @include texto_favorito
}
.tabla__talles--medidas {
    td {
    list-style: none;
    @include texto_favorito
 }
}
.tablilla {
    align-items: center;
    justify-content: center;
    text-decoration: overline;
    font-size: 160%;
    color: hotpink;
}
.tablla__talles {
    border: solid solid;
    background-color: rgba(128, 128, 128, 0.699);
    color:hotpink;
    background-color: #0000008a;

}
.tabla__dos {
    background-color: #0000008a;

}
th {
    font-size: 50%;
    
}