* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import "fuentes";
@import "home";
@import "generales";
@import "mq";
@import "variables";
@import "oursizes";
@import "closet";
@import "compras";

.zoom {
    transition: all .5s;

    &:hover {
        transform: scale(1.3);
    }
}

.navegacion {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    flex-wrap: nowrap;
    height: 50%;
    align-items: center;
    font-size: 90%;
    color: #cf324b;
}

.navegacion li>a:hover {
    color: #cf324b;
    background-color: transparent;
    float: right;
    text-align: center
}

.navegacion li a {
    position: fixed;
    justify-items: right;
    color: #cf324b;
    transition: 7s;
    list-style: none;
    text-decoration: none;
    text-align: center
}

&:hover {
    transform: scale(1.5);
}

.navegacion li img {
    position: fixed;
    padding: -2px;
    margin: 20px;
    width: 100%;
    height: 8px;
    transition: 7s;
    text-align: center;

    &:hover {
        transform: scale(1.5);
    }
}

.navbar {
    position: fixed;
    opacity: 90%;
    text-align: center 
        &   li<a {
        transition: 7s;
        list-style: none;
        text-decoration: none;
        }         
        &:hover {
                transform: scale(1.5);
            }
    }

.navbar li>a:hover {
    color: black;
    background-color: transparent;
    float: center;
    text-align: center
}

@import "404";
@import "contacto";